/* sign up  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.signup{
    height: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgb(53,54,56) 0%,rgb(53,54,56) 50%, #fff 50%, #fff 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-h1{
    font-size: 75px;
    color: #adadad;
    padding: 100px;
    /* text-align: center; */
    margin-left: 40px;
}

.signup-p{
    font-size: 30px;
    color: #adadad;
    /* text-align: center; */
    margin-top: 50px;
    margin-left: 150px;
}

.signup-icon{
    color: #adadad;
    font-size:50px;
    position: absolute;
    letter-spacing: 50px;
    margin-top: 100px;
    margin-left: 150px;
}

.signup-heading{
    color: rgb(53,54,56);
    font-size: 45px;
    margin-top: -480px;
    margin-left: 1250px;
    text-indent: 60px;
}

.signup-icons{
    color: rgb(53,54,56);
    font-size: 45px;
    margin-top: 50px;
    margin-left: 1420px;
    letter-spacing: 50px;
}

.signup-st{
    font-size: 20px;
    color: rgb(53,54,56);
    margin-left: 1400px;
    margin-top: 65px;
}

input[type=text] {
    /* margin-left: 5px; */
    background-color: rgb(53,54,56);
    color: #adadad;
    padding: 20px 150px;
    text-align: center;
    border: none;
    border-radius: 2px;
    position: absolute;
    margin-top: 35px;
    margin-left: 1220px;
    font-size: 30px;
    cursor: pointer;
    /* float: left ; */
}

input[type=text]:hover{
    background-color: rgb(53,54,56);
}

input[type=email] {
    /* margin-left: 5px; */
    background-color: rgb(53,54,56);
    color: #adadad;
    padding: 20px 150px;
    text-align: center;
    border: none;
    border-radius: 2px;
    position: absolute;
    margin-top: 100px;
    margin-left: 1220px;
    font-size: 30px;
    cursor: pointer;
    /* float: left ; */
}

input[type=email]:hover{
    background-color: rgb(53,54,56);
}

input[type=password] {
    /* margin-left: 5px; */
    background-color: rgb(53,54,56);
    color: #adadad;
    padding: 20px 150px;
    text-align: center;
    border: none;
    border-radius: 2px;
    position: absolute;
    margin-top: 165px;
    margin-left: 1220px;
    font-size: 30px;
    cursor: pointer;
    /* float: left ; */
}

input[type=password]:hover{
    background-color: rgb(53,54,56);
}

.signup-fup{
    color: rgb(53,54,56);
    font-size: 20px;
    margin-left: 1420px;
    margin-top: 270px;
}



input[type=submit] {
    /* margin-left: 5px; */
    background-color: rgb(53,54,56);
    color: #adadad;
    padding: 20px 50px;
    border: 10%;
    border-radius: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1450px;
    font-size: 20px;
    cursor: pointer;
    /* float: left ; */
}
  
input[type=submit]:hover {
    background-color: rgb(53,54,56);
}